body{
    background-color: #141414;
    color: rgb(184, 12, 41)
}

.movie-app > .row {
    overflow-x: auto;
    flex-wrap: nowrap;
}

.image-container{
    position: relative;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);

}

.image-container:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.overlay{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    transition: 0.5s ease;
    opacity: 0;
    bottom: 0;
    font-size: 20px;
    padding: 20px;
    text-align: center;
}

/* Bottom right text */
.bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
}

.image-container:hover .overlay{
    opacity: 1;
}